<div class="toolbar" role="banner">
  <span>My BANK S</span>
  <div class="spacer"></div>
  <span>Welcome dear to the login page</span>
</div>

<div class="content" role="main">

  <div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div class="content">
      <h1>Formulaire</h1>
    <div fxLayout="row" fxLayoutGap="25px">
      <form [formGroup]="form" fxLayout="column" fxLayoutGap="30px" fxFlex="60%">
        <div fxLayout="row">
          <label fxFlex="20%">Name</label>
          <input fxFlex="auto" formControlName="name" type="text" />
        </div>
        <div fxLayout="row">
          <label fxFlex="20%">Code</label>
          <app-input-bank-code formControlName="code" fxFlex="auto"></app-input-bank-code>
        </div>
      </form>
      <pre fxFlex="auto">{{ form.valueChanges | async | json }}</pre>
    </div>
    </div>
  </div>

</div>

